.super__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 300px;
    margin-top: 30px;
}

.hero__item {
    max-height: 300px;
    display: flex;
    margin: 0 auto;
    background: #ee82ee;
}

.img {
    width: 275px;
    height: 400px;
}
@media (max-width: 1480px) {
    .super__wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 8rem;
    }
}
@media (max-width: 980px) {
    .super__wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
